<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To Do List</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <script type="text/javascript"
    src="http://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=tjboBWNQiNZeH5tFO-1kgv2VBazwkCcIN4zGg0RufaYAYxyja8TqinwKcZMggeovikHX35vojZeSIF745Gr__BLArXMVv8fsQZ5qibgZ3dOmGDbTGVH5iWlO98cP_bqR"
    charset="UTF-8"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.1/font/bootstrap-icons.css">
</head>

<style>
  body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
  }

  main button {
    min-width: 250px;
    min-height: 60px;
  }

  .modal-footer button {
    min-width: 208.43px;
    min-height: 38px;
    margin: 10px;
  }
</style>

<body class="d-flex bg-primary bg-gradient justify-content-center">
  <main class="d-flex gap-5 align-items-center align-self-center flex-column">
    <div class="d-flex align-items-center flex-column p-3">
      <h1 class="display-1 text-white fw-bold">My To-Dos!</h1>
      <h4 class="lead text-white fs-1"> Organize suas tarefas facilmente</h4>
    </div>
    <div class="d-flex align-items-center flex-column p-3 gap-2">
      <button type="button" class="btn btn-dark btn-lg" data-bs-toggle="modal" data-bs-target="#login">Login</button>
      <button type="button" class="btn btn-light btn-lg" data-bs-toggle="modal"
        data-bs-target="#signup">Register</button>
    </div>
    <a class="text-white p-3 fs-5" href="todo.html">Ver minha lista de afazeres</a>
  </main>

  <div class="modal fade" id="signup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-secondary" style="--bs-bg-opacity: .5;">
          <h1 class="modal-title fs-5" id="exampleModalLabel">My To-Dos</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h5>Novo usuário</h5>
          <form>
            <div class="mb-2">
              <label for="inputNome" class="col-form-label">Nome</label>
              <input type="text" value="Nome" class="form-control" id="inputNome" placeholder="Fulano">
            </div>
            <div class="mb-2">
              <label for="inputEmail" class="col-form-label">Email</label>
              <input type="email" value="email@email.com" class="form-control" id="inputEmail" placeholder="name@example.com">
            </div>
            <div class="mb-2">
              <label for="inputNasc" class="col-form-label">Nascimento</label>
              <input type="date" value="2022-12-07" class="form-control" id="inputNasc">
            </div>
            <div class="mb-2">
              <label for="inputType" class="col-form-label">Type</label>
              <input type="text" value="fodase" class="form-control" id="inputType" placeholder="Usuário">
            </div>
            <div class="mb-2">
              <label for="inputLogin" class="col-form-label">Login</label>
              <input type="text" value="login" class="form-control" id="inputLogin">
            </div>
            <div class="mb-2">
              <label for="inputPassword" class="col-form-label">Senha</label>
              <input type="password" value="senha" class="form-control" id="inputPassword">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success">Salvar</button>
          <button type="button" class="btn btn-light" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="login" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-secondary" style="--bs-bg-opacity: .5;">
          <h1 class="modal-title fs-5" id="exampleModalLabel">My To-Dos</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h5>Login</h5>
          <form>
            <div class="mb-2">
              <label for="inputEmail" class="col-form-label">Email</label>
              <input type="email" class="form-control" id="inputEmail" placeholder="name@example.com">
            </div>
            <div class="mb-2">
              <label for="inputPassword" class="col-form-label">Senha</label>
              <input type="password" class="form-control" id="inputPassword">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success">Logar</button>
          <button type="button" class="btn btn-light" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

</body>

</html>