<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.1/font/bootstrap-icons.css">
</head>
<style>
    main {
        min-width: 90vw;
        min-height: 69vh;
    }
</style>

<script>
    if (!localStorage.token) {
        window.location.replace("index.html")
    }
</script>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">My To-Dos</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Usuário</a>
                    </li>
                </ul>
                <a href="index.html" class="navbar-text d-flex justify-content-center" onclick="logout()"
                    id="nomeLogout">Juca (Logout)</a>
            </div>
        </div>
    </nav>

    <main class="m-5">
        <div class="d-flex gap-3">
            <h2>Meus afazeres</h2>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                onclick="esconder()">Novo</button>
        </div>
        <hr>
        <table class="table table-striped">
            <tbody id="tarefas">

            </tbody>
        </table>
    </main>

    <footer class="bg-light text-center text-lg-start">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            <p class="text-dark">Minha lista de afazeres.</p>
        </div>
    </footer>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <input type="hidden" id="idSalvar" value="">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Afazer</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div hidden id="alert" class="alert alert-danger" role="alert"></div>
                    <form>
                        <div class="mb-3">
                            <label for="titulo" class="col-form-label">Título:</label>
                            <input type="text" required class="form-control" id="titulo">
                        </div>
                        <div class="mb-3">
                            <label for="descricao" class="col-form-label">Descrição:</label>
                            <textarea class="form-control" required id="descricao"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="datahora" class="col-form-label">Data e hora:</label>
                            <input type="datetime-local" required class="form-control" id="datahora">
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                            <label class="form-check-label" id="labelCheck"
                                for="flexSwitchCheckDefault">Concluído?</label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="form" onclick="createTask()" class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</body>

<script>

    if (!localStorage.token) {
        window.location.replace("index.html")
    }

    function logout() {
        localStorage.clear();
        window.location.reload();
        window.location.replace("index.html")
    }

    function esconder() {
        const check = document.getElementById("flexSwitchCheckDefault");
        check.setAttribute("hidden", null);
        const label = document.getElementById("labelCheck");
        label.setAttribute("hidden", null);

        document.getElementById("titulo").value = "";
        document.getElementById("descricao").value = "";
        document.getElementById("datahora").value = "";

        const input = document.getElementById('idSalvar');
        input.value = -1;
    }

    function choosen(info) {
        const check = document.getElementById("flexSwitchCheckDefault");
        check.removeAttribute("hidden");
        const label = document.getElementById("labelCheck");
        label.removeAttribute("hidden");

        const e = JSON.parse(info.value);
        document.getElementById("titulo").value = e.titulo;
        document.getElementById("descricao").value = e.descricao;
        document.getElementById("datahora").value = e.data;

        const input = document.getElementById('idSalvar');
        input.value = e.id;
    }

    function formatDtBd(data) {
        const newData = new Date(data);
        const d = zeroFill(newData.getDate());
        const mo = zeroFill(newData.getMonth() + 1);
        const y = zeroFill(newData.getFullYear());
        const h = zeroFill(newData.getHours());
        const m = zeroFill(newData.getMinutes());
        const s = "00";

        return `${y}-${mo}-${d} ${h}:${m}:${s}`
    }

    function createTask() {
        const idTask = document.getElementById("idSalvar").value;
        const titulo = document.getElementById("titulo").value;
        const descricao = document.getElementById("descricao").value;
        const datahora = formatDtBd(document.getElementById("datahora").value);

        if (idTask == "" || titulo == "" || descricao == "" || datahora == "NaN-NaN-NaN NaN:NaN:00") {
            document.getElementById("alert").innerHTML = "Preencha os campos";
            document.getElementById("alert").removeAttribute("hidden");
        } else {
            if (document.getElementById("flexSwitchCheckDefault").checked) {
                const URL_API = "http://localhost/sitetodophp/task/delete.php?id=" + idTask;

                var xmlhttp = new XMLHttpRequest();
                xmlhttp.onload = function () {
                    if (this.status == 200) {
                        window.location.reload();
                    } else {
                        //tratar erros
                    }
                }

                xmlhttp.open("GET", URL_API, true);
                xmlhttp.setRequestHeader("Authorization", localStorage.getItem('token'))
                xmlhttp.send();
            }

            if (idTask == -1) {
                const URL_API = "http://localhost/sitetodophp/task/create.php";
                const body = {
                    titulo: titulo,
                    descricao: descricao,
                    datahora: datahora
                }

                console.log(JSON.stringify(body))

                var xmlhttp = new XMLHttpRequest();
                xmlhttp.onload = function () {
                    const myObj = JSON.parse(this.responseText);
                    console.log(myObj);
                    if (this.status == 200) {
                        window.location.reload();
                    } else {
                        //tratar erros
                    }
                }

                xmlhttp.open("POST", URL_API, true);
                xmlhttp.setRequestHeader("Authorization", localStorage.getItem('token'))
                xmlhttp.send(JSON.stringify(body));
            } else {
                const URL_API = "http://localhost/sitetodophp/task/update.php?id=" + idTask;
                const body = {
                    titulo: titulo,
                    descricao: descricao,
                    datahora: datahora
                }

                console.log(JSON.stringify(body))

                var xmlhttp = new XMLHttpRequest();
                xmlhttp.onload = function () {
                    if (this.status == 200) {
                        window.location.reload();
                    } else {
                        //tratar erros
                    }
                }

                xmlhttp.open("POST", URL_API, true);
                xmlhttp.setRequestHeader("Authorization", localStorage.getItem('token'))
                xmlhttp.send(JSON.stringify(body));
            }
        }

    }

    function zeroFill(n) {
        return n < 10 ? `0${n}` : `${n}`;
    }

    function formatDate(data) {
        const newData = new Date(data);
        const d = zeroFill(newData.getDate());
        const mo = zeroFill(newData.getMonth() + 1);
        const y = zeroFill(newData.getFullYear());
        const h = newData.getHours();
        const m = newData.getMinutes();

        return `${d}/${mo}/${y}` + " " + h + "h" + m + "min";
    }

    function calcTempo(data) {

        const URL_DATA = "http://localhost/sitetodophp/task/data.php";

        var xmlhttp = new XMLHttpRequest();
        var txtData;

        const body = {
            data: data
        }

        xmlhttp.onload = function () {
            txtData = this.response;
            console.log(txtData);
        }

        xmlhttp.open("POST", URL_DATA, true);
        xmlhttp.send(JSON.stringify(body));


    }

    function exibir(tarefasArray) {
        tarefasArray.forEach((e, i) => {

            const tr = document.createElement('tr');
            const td = document.createElement('td');
            const div = document.createElement('div');
            const h3 = document.createElement('h3');
            const h5 = document.createElement('h5');
            const h6 = document.createElement('h6');
            const subdiv = document.createElement('div');
            const input = document.createElement('input');

            h3.innerHTML = e.titulo;
            h5.innerHTML = e.descricao;
            h6.innerHTML = "Programado para " + formatDate(e.data);
            div.classList.add("d-flex");
            div.classList.add("justify-content-between");
            subdiv.classList.add("d-flex");
            subdiv.classList.add("justify-content-center");
            subdiv.classList.add("p-2");
            subdiv.classList.add("rounded-pill");


            const URL_DATA = "http://localhost/sitetodophp/task/data.php";

            var xmlhttp = new XMLHttpRequest();
            var txtData;

            const body = {
                data: e.data
            }

            xmlhttp.onload = function () {
                aux = this.response;
                console.log(txtData);

                if (aux == "Hoje") {
                    subdiv.innerHTML = aux;
                    subdiv.classList.add("bg-warning");
                } else if (aux == "Amanhã") {
                    subdiv.innerHTML = aux;
                    subdiv.classList.add("bg-warning");
                } else if (aux == "Atrasado") {
                    subdiv.innerHTML = aux;
                    subdiv.classList.add("bg-danger");
                    subdiv.classList.add("text-white");
                } else {
                    subdiv.innerHTML = aux;
                    subdiv.classList.add("bg-secondary");
                    subdiv.style = "--bs-bg-opacity: .5;";
                }

                tr.setAttribute("data-bs-toggle", "modal");
                tr.setAttribute("data-bs-target", "#exampleModal");

                input.setAttribute("type", "hidden");
                input.value = JSON.stringify(e);
                const num = "info" + i;
                input.setAttribute("id", num);
                tr.setAttribute("onclick", "choosen(" + num + ")");

                div.appendChild(h3);
                div.appendChild(subdiv);

                td.appendChild(div);
                td.appendChild(h5);
                td.appendChild(h6);

                tr.appendChild(td);
                tr.appendChild(input);
                tarefas.appendChild(tr);
            }

            xmlhttp.open("POST", URL_DATA, true);
            xmlhttp.send(JSON.stringify(body));


        });

    }

    const URL_LIST = "http://localhost/sitetodophp/task/list.php";

    const tarefas = document.getElementById("tarefas");

    var xmlhttp = new XMLHttpRequest();
    xmlhttp.onload = function () {
        const myObj = JSON.parse(this.responseText);
        exibir(myObj);
    }

    xmlhttp.open("GET", URL_LIST, true);
    xmlhttp.setRequestHeader("Authorization", localStorage.getItem('token'))
    xmlhttp.send();




    const nome = document.getElementById("nomeLogout");


    var xmlhttp = new XMLHttpRequest();
    xmlhttp.onload = function () {
        if (this.status == 200) {
            console.log(JSON.parse(this.response).nome)
            nome.innerHTML = JSON.parse(this.response).nome + " (Logout)";
        }


    }

    xmlhttp.open("GET", "http://localhost/sitetodophp/auth/decode_token.php", true);
    xmlhttp.setRequestHeader("Authorization", localStorage.getItem('token'))
    xmlhttp.send();


</script>

</html>